@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Lato-Heavy.ttf");
}
@font-face {
    font-family: 'Bernadette';
    src: url("../fonts/bernadette.ttf");
}
@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/MyriadPro-BlackCond.otf");
}




body {
    min-width: 320px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    color: #040404;
    position: relative;
}
html, body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h3 {
    font-family: 'Bernadette';
    font-weight: 400;
    font-size: 50px;
    color: #333332;
}

h1 {
    font-family: 'Lato';
    font-weight: 800;
    font-size: 60px;
    color: #fff;
}

h1 span {
    color: #fba419;
}

.regular {
    font-weight: 400;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.thebtn {
    background: linear-gradient(to right, #dd813d, #606eaa);
    color: #fff;
    text-transform: uppercase;
    width: 143px;
    height: 40px;
    cursor: pointer;
    margin: auto;
    border-radius: 20px;
    line-height: 40px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    transition: transform 300ms;
}
.thebtn:hover {
    transform: scale(1.3,1.3);
}

.header {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
}

.header .background {
    position: absolute;
    height: 100%;
    width: 100%;
}

.header .background img {
    max-width: auto;
    width: 100%;
}

.header .menu-top .nav-link {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 164, 25, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header .navbar-dark .navbar-toggler {
    border-color: rgba(251, 164, 25, 0.5);
}

.header .menu-top .nav-link:hover {
    color: #e1e1e1;
}

.header .menu-top .nav-link.active {
    color: #fba419;
}

.header .menu-top .navbar-nav li {
    text-align: center;
}

.header .headerText {
    margin-top: 100px;
    text-align: center;
    position: relative;
    color: #fff;
}

.header .headerText h3 {
    font-size: 111px;
    color: #fff;
}

.header .headerText .bold {
    margin-top: 20px;
    font-size: 37px;
}

.header .headerText .width {
    display: inline-block;
    font-size: 16px;
    max-width: 635px;
}

.header .mybtn {
    margin-top: 20px;
    margin-bottom: 50px;
}

.mybtn {
    text-transform: uppercase;
    width: 143px;
    height: 40px;
    cursor: pointer;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    color: #020202;
    line-height: 40px;
    font-weight: 700;
    font-size: 16px;
}

.header .info {
    border-radius: 10px;
    box-shadow: 0 0 30px 3px rgba(113, 113, 113, 0.6);
}

.header .info img {
    max-width: auto;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header .info .textbox {
    padding: 25px 60px 25px 60px;
    position: relative;
    background: #fff;
    margin-bottom: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header .info .textbox .bold {
    font-size: 25px;
    color: #333332;
}

.header .info .textbox .thebtn {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}

.we {
    padding-top: 30px;
    background: url('../img/webg.png') center center no-repeat;
    background-size: contain;
}

.we .regular {
    margin-top: 20px;
    margin-bottom: 0;
}

.we .italic {
    margin-bottom: 30px;
}

.we .italic::before {
    content: "";
    width: 90px;
    height: 90px;
    background: url('../img/quote.png') center center;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: -90px;
}

.we .name {
    display: block;
    width: 100%;
    text-align: center;
}

.we .thebtn {
    margin-top: 30px;
    margin-left: 0;
}

.features {
    margin-top: 60px;
    padding: 70px 0 50px 0;
}

.features .row {
    position: relative;
}

.features .featImg {
    flex-basis: 49%;
    height: 365px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 22.8px;
    cursor: pointer;
    z-index: 1001;
}

.features .featImg img {
    max-width: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.features .position {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 90%;
    
}

.features .position .textbox {
    display: block;
    margin: auto;
    max-width: 730px;
    background: #fff;
    text-align: center;
    padding: 35px 50px;
    border-radius: 10px;
    position: relative;
    z-index: 1010;
    display: none;
}

.features .position .textbox .thebtn {
    margin-top: 40px;
}

.features .position .textbox .x {
    position: absolute;
    top: 15px;
    right: 15px;
}

.x {
    cursor: pointer;
}

.services {
    background: url('../img/servicesbg.png') center right, #f4f4f4;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.services .thebtn {
    margin: 0;
    margin-top: 30px;
}

.services h3 {
    margin-bottom: 20px;
}

.services .regular {
    margin: 0;
}

.services p {
    max-width: 475px;
}

.services .servicesbox {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    padding: 28px;
    text-align: center;
    font-weight: 800;
    background: linear-gradient(-45deg, #3f519a, #de813c);
    border-radius: 10px;
}

.services .servicesbox .img {
    width: 46px;
    height: 46px;
    margin: auto;
    margin-bottom: 15px;
}

.services .servicesbox .wrapper {
    padding: 14px 25px;
    border: 2px dotted transparent;
}

.services .servicesbox .wrapper:nth-child(2n-1) {
    border-right: 2px dotted #c49986;
}

.services .servicesbox .wrapper.bord {
    border-bottom: 2px dotted #c49986;
}

.services .servicesbox .box {
    width: 100px;
    height: auto;
    font-size: 17px;
    color: #fff;
}

.services .servicesbox .box img {
    height: 100%;
    max-width: auto;
    width: auto;
}

.team {
    padding: 100px 0 120px 0;
    position: relative;
    height: auto;
}

.team .shadow {
    max-width: 1300px;
    height: auto;
    margin: 70px auto;
}

.team .profilebox {
    flex-basis: 17%;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}

.team .profilebox:last-child {
    margin: 0;
}

.team .profilebox .img {
    width: 100%;
    height: 273px;
    margin-bottom: 30px;
}

.team .profilebox .img img {
    max-width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.team p {
    margin: 0;
    font-size: 20px;
    color: #a3a3a3;
}

.team .shadow {
    background: linear-gradient(to bottom, #fff 10%, #f4f4f4 90%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 47px;
}

.team .profilebox .medium {
    font-size: 25px;
    color: #333332;
}

.team .profilewrap {
    padding-top: 47px;
}

.team .profilewrap h3 {
    font-size: 65px;
    margin: 0;
}

.team .profilewrap .bold {
    font-size: 22px;
    margin-bottom: 30px;
}

.team .profilewrap p {
    color: #040404;
}

.team .profilewrap .medium {
    font-size: 25px;
    color: #333332;
    margin-bottom: 5px;
}

.team .profilewrap .medium.margin {
    margin-top: 50px;
}

.team .progressbox {
    height: 27px;
    width: 100%;
    background: url('../img/progressboxbg.png') center bottom no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.team .progressbar {
    width: 0%;
    height: 14px;
    border-radius: 20px;
    background: linear-gradient(to right, #de813c, #3f519a)
}

.team .progressindex {
    position: relative;
    top: -15px;
    font-size: 25px;
    font-weight: 800;
}

.team .bio {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #3f519a, #de813c);
    display: flex;
    flex-wrap: wrap;
}

.team .bio .img {
    flex-basis: 45%;
}

.team .bio .img img {
    max-width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .bio .text {
    flex-basis: 55%;
    padding: 63px 50px;
}

.team .bio .text p {
    color: #fff;
    margin: 0;
}

.team .bio .text p.medium {
    font-size: 21px;
}

.team .containerbox {
    position: relative;
}

.team .member {
    position: absolute;
    top: 0;
    opacity: 0;
}

.team .scrollActive {
    position: static;
    position: relative;
    opacity: 1;
    transition: 500ms ease-in-out;
    z-index: 1010;
}
.team .mt-auto .social {
    color: #272525;
    text-decoration: none;
    font-size: 33px;
    display: inline-block;
    height: 63px;
    line-height: 63px;
    width: 63px;
    border-radius: 50%;
    background: #fff;
    text-align: center; 
    margin-right: 15px;
    transition: background 300ms ease;
}
.team .mt-auto .social:hover {
    background: linear-gradient(-45deg, #3f519a, #de813c);
    color: #fff;
    
}

.price p {
    margin-bottom: 0;
    color: #333332
}
.price .box1 {
    padding: 70px 0;
    flex-basis: 35%;
    justify-content: flex-end;
    background: linear-gradient(-45deg, #3f519a, #de813c);
}
.price .box1 .pricename {
    padding: 50px 40px;
    flex-basis: 60%;
    background: #fff;
}
.price .box1 .pricename .img {
    margin: 30px 0;
}
.price .box1 .pricename .p1{
    font-size: 20px;
  
}
.price .box1 .pricename .p2{
    font-size: 25px;
    margin-bottom: 10px;
}
.price .box2 {
    flex-basis: 65%;
    padding: 70px 0;
    background: #f4f4f4;
    justify-content: space-between;
}
.price .box2 .featurebox {
    flex-basis: 40%;
    background: linear-gradient(-45deg, #3f519a, #de813c);
    padding: 50px 40px;
    
}
.price .box2 .featurebox h4 {
    font-family: 'Myriad Pro';
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    letter-spacing: -5px;
    margin: 0;
}
.price .box2 .featurebox p.bold {
    color: #fff;
    font-size: 25px;
}
.price .box2 ul {
    text-align: left;
    margin: 15px auto;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    
}
.price .box2 .thebtn {
    background: #fff;
    color: #020202;
    margin-top: 60px;
}

.price .box2 ul li {
    list-style-image: url('../img/nike.png');
    padding: 5px;
}
.price .box2 .textbox {
    flex-basis: 53%;
    padding: 50px 0;
}
.price .box2 .textbox p.bold {
    margin: 20px 0;
}
.touch {
    background: url('../img/touchbg.png') center center;
    background-size: cover;
    padding: 90px 0;
}
.touch h3 {
    color: #fff;
}
.touch .social {
    height: 76px;
    width: 76px;
    border: 3px solid #fff;
    border-radius: 50%;
    line-height: 83px;
    margin-top: 40px;
    background: none;
    transition: background 100ms ease-in-out;
}
.touch .social:hover {
    background: #fff;
}
.touch .social:hover .fa {
    color: #de813c;
}
.touch .social .fa{
    color: #fff;
    font-size: 34px;
}
.footer {
    padding: 100px 0 50px 0;
}
.footer .img {
    margin-right: 40px;
}
.footer p {
    margin: 0;
    font-size: 16px;
}
.footer .bold {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
.kaboom {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

.footer .wrapper {
    margin-top: 70px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.068) , rgba(139, 139, 139, 0.527) , rgba(255, 255, 255, 0.068));
    padding: 20px 0;
}
.footer .wrapper h5 {
    font-family: 'Bernadette';
    color: #fff;
}
.footer .wrapper .fa {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 25px;
}
.footer .wrapper .fa:last-child{
    margin-right: 0;;
}




@media(max-width: 992px) {
    .header {
        background: url('../img/headerbg.png') center top;
        background-size: cover;
        height: auto;
    }
    .header .background {
        display: none;
    }
    .header .headerText {
        margin-top: 30px;
    }
    .we {
        background: none;
    }
    .we .regular.italic {
        margin-top: 70px;
        position: relative;
    }
    .features .featImg {
        flex-basis: 100%;
    }
    .features .featImg:last-child {
        display: none;
    }
    .features .featImg:nth-child(2) {
        display: none;
    }
    .features .position {
        opacity: 1;
        z-index: 1011;
    }
    .features .position .x {
        display: none;
    }
    .services {
        background: none, #f4f4f4;
        text-align: center;
    }
    .services p, .services .regular {
        margin: auto;
    }
    .services .servicesbox {
        margin-top: 30px;
    }
    .services .thebtn {
        margin: auto;
    }
    .team .profilebox {
        flex-basis: 40%;
        margin-bottom: 50px;
    }
    .team .col-lg-4 h3,
    .team .col-lg-4 .bold {
        text-align: center;
    }
    .team .shadow {
        margin-bottom: 0;
    }
    
    .team .bio .text p {
        margin-bottom: 20px;
    }
    .team .bio .text p.medium {
        margin: 0;
    }
    .team .mt-auto .social {
        height: 43px;
        line-height: 43px;
        width: 43px;
        font-size: 16px;
        margin-right: 5px;
    }
    .price .row {
        justify-content: center;
        overflow: hidden;
        
    }
    .price .box1 {
        justify-content: center;
        flex-basis: 90%;
        
    }
    .price .box2 {
        flex-direction: column;
        align-items: center;
        flex-basis: 90%;
        background: #fff;
        
    }
    .footer .col-lg-4 .d-flex {
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer .col-lg-4:nth-child(3) .d-flex {
        margin: 0;
    }
    .footer .col-lg-4 .d-flex .img {
        margin: 0;
    }
    
}

@media(max-width: 576px) {
    .services .servicesbox {
        width: auto;
        background: none, linear-gradient(to right, #dd813d, #606eaa);
        justify-content: center;
    }
    .services .servicesbox .wrapper:nth-child(2n-1) {
        border-right: none;
    }
    .services .servicesbox .wrapper {
        border-bottom: 2px dotted #c49986;
    }
    .team .bio .img{
        flex-basis: 100%;
    }
    .team .bio .text{
        flex-basis: 100%;
        padding: 20px 20px;
    }
}

@media(max-width: 391px) {
    .services .servicesbox .wrapper:last-child {
        border-bottom: none;
    }
    
    
    
}